:root {
  --dark-purple: hsl(273, 85%, 13%);
  --light-green: hsl(150, 100%, 63%);
  --light-purple: hsl(276, 100%, 99%);
  --light-gray: hsl(271, 12%, 34%);
  --header-font-family: "Fraunces", serif;
  --paragraph-font-family: "Manrope", sans-serif;
  --small-font-size: calc(0.6rem + 0.5vw);
  --transition: all 0.7s ease;
}

body {
  box-sizing: border-box;
  color: white;
  margin: 0;
}

header {
  background: var(--dark-purple);
}

p {
  font-family: var(--paragraph-font-family);
  font-size: var(--small-font-size);
  line-height: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  max-inline-size: 75%;
  margin-inline: auto;
  margin-block: 0;
  padding-block: 3rem;
  padding-inline-start: 0;
}

nav a {
  font-size: var(--small-font-size);
  font-family: var(--paragraph-font-family);
  color: white;
  padding-block-end: 0.2rem;
  border-block-end: 0.1rem solid var(--light-green);
  text-decoration: none;
  transition: 250ms ease-in-out;
}

nav a:hover {
  color: var(--light-green);
}

button {
  display: block;
  background: var(--light-green);
  color: var(--dark-purple);
  font-size: var(--small-font-size);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 1.3rem 3rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
}

button:hover {
  cursor: pointer;
  background: var(--dark-purple);
  color: var(--light-green);
  box-shadow: inset 0 0 0 0.2rem var(--light-green);
  transition: 250ms ease-in-out;
}

section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style-type: none;
  padding-inline: 0;
  text-align: center;
  color: var(--dark-purple);
  background: var(--light-purple);
}

section ul h2 {
  border: 0.03rem solid var(--dark-purple);
  border-radius: 50%;
  max-inline-size: fit-content;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: 400;
  font-size: calc(0.75rem + 1.2vw);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 17rem;
  margin-block-end: 3rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1.5rem;
}

footer i {
  font-size: 1.4rem;
}

.company-name {
  max-inline-size: 6rem;
}

.underlined-word {
  display: inline-block;
  border-block-end: 0.25rem solid var(--light-green);
}

.main-heading {
  position: relative;
}

.main-heading h1 {
  text-align: center;
  font-size: calc(3rem + 2.5vw);
  font-weight: 600;
  line-height: 5rem;
  max-inline-size: 13ch;
  margin-inline: auto;
  margin-block: 2rem;
}

.main-heading::before {
  content: url("./images/bg-pattern-1.svg");
  position: absolute;
  left: 0;
  transform: translateX(-40%);
  transition: var(--transition);
}

.main-heading::after {
  content: url("./images/bg-pattern-2.svg");
  position: absolute;
  right: 0;
  transform: translateX(30%);
  transition: var(--transition);
}

.header-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.iPhone-img {
  position: absolute;
  max-inline-size: 100%;
  transform: translateY(-10%);
  z-index: 3;
}

.curved-bg-dark {
  background: var(--dark-purple);
  clip-path: ellipse(110% 55% at 50% 45%);
  padding-block-end: 18rem;
  overflow: hidden;
  z-index: 2;
}

.curved-bg-light {
  background: var(--light-purple);
  clip-path: ellipse(110% 55% at 50% 45%);
  padding-block-start: 18rem;
  padding-block-end: 7rem;
  transform: translateY(-12%);
  z-index: 1;
}

.section-descriptions,
.section-numbers {
  margin-inline: 6rem;
}

.section-descriptions li {
  margin-inline: 1rem;
}

.section-descriptions h2 {
  display: none;
}

.section-descriptions h3 {
  font-size: calc(0.75rem + 1.2vw);
}

.section-descriptions p {
  color: var(--light-gray);
}

.call-to-action {
  display: flex;
  justify-content: center;
}

.call-to-action img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: contain;
  transform: translateX(10%);
}

.call-to-action h2 {
  font-size: calc(0.75rem + 2.6vw);
  margin-block: 0;
}

.call-to-action p {
  margin-block: 2em;
  font-weight: lighter;
}

.call-to-action-description {
  background: var(--dark-purple);
  max-inline-size: 46rem;
  padding-block: 5rem;
  padding-inline: 5rem;
  transform: translate(-3.5rem, 10rem);
}

.call-to-action-description::after {
  content: url(./images/bg-pattern-3.svg);
  position: absolute;
  right: 0;
  transform: translate(-20%, -30%);
  transition: var(--transition);
}

.call-to-action button {
  margin-inline-start: 0;
}

.company-name-footer {
  margin-block-end: 2rem;
}

.fa-brands {
  color: var(--light-gray);
}

@media (width > 100rem) {
  .underlined-word {
    padding-bottom: 0.5rem;
    margin-block-end: 0.5rem;
  }
}

@media (width < 62rem) {
  .main-heading::before {
    transform: translateX(-65%);
  }

  .main-heading::after {
    transform: translateX(55%);
  }

  .curved-bg-light {
    display: flex;
  }

  .section-numbers,
  .section-descriptions {
    grid-template-columns: 1fr;
  }

  .section-numbers {
    margin-inline-start: 5rem;
    margin-inline-end: 2rem;
    margin-block-start: 6rem;
  }

  .section-descriptions {
    margin-inline-end: 5rem;
    margin-inline-start: 0;
    margin-block-start: 6rem;
    text-align: start;
  }

  .section-descriptions h2 {
    display: none;
  }

  .call-to-action-description {
    transform: translateY(-10%);
    padding-block: 3rem;
  }

  .call-to-action-description::after {
    display: none;
  }

  .call-to-action img {
    min-block-size: 18rem;
    transform: none;
  }

  .call-to-action {
    flex-direction: column;
    align-items: center;
  }

  .call-to-action p {
    min-block-size: 11rem;
    max-inline-size: 17.5rem;
    margin-inline: auto;
    margin-block: 2rem;
    text-align: center;
  }

  .call-to-action button {
    margin-inline: auto;
  }

  footer {
    margin-block-start: 5rem;
  }
}

@media (width < 48rem) {
  .iPhone-img {
    max-inline-size: 90%;
  }

  .curved-bg-dark {
    padding-block-end: 15rem;
  }

  .section-descriptions,
  .section-numbers {
    grid-template-columns: 1fr;
    text-align: center;
    margin-inline: auto;
  }

  .section-descriptions {
    margin-inline: 5rem;
  }

  .section-descriptions h2 {
    display: block;
  }

  .main-heading::before,
  .main-heading::after {
    content: none;
  }

  .section-numbers {
    display: none;
  }

  .call-to-action-description {
    text-align: center;
  }
}
