:root {
  font-size: clamp(1rem, 0.8rem + 1vw, 3rem);
  --dark-purple: #24053e;
  --light-green: #44ffa1;
}

body {
  box-sizing: border-box;
  /* background: linear-gradient(to bottom, var(--dark-purple) 50%, white 50%); */
  border-radius: 50% / 20px;

  margin: 0;
  color: white;
}

header {
  background: var(--dark-purple);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid white;
  margin-inline: 4rem;
  padding-block-end: 1.5rem;
}

nav a {
  color: white;
  padding-block-end: 0.2rem;
  text-decoration: none;
  border-block-end: 2px solid var(--light-green);
}

button {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 1rem 1.8rem;
  font-size: 0.8rem;
  /* margin-block: 5rem; */
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style-type: none;
  text-align: center;
  color: var(--dark-purple);
}

ul h2 {
  border: 0.5px solid var(--dark-purple);
  border-radius: 50%;
  max-inline-size: fit-content;
  block-size: auto;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 0.6rem;
  font-family: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  font-weight: lighter;
  font-size: 1rem;
}

.main-heading {
  text-align: center;
  font-weight: lighter;
  font-size: 4rem;
  max-inline-size: 30rem;
  margin-inline: auto;
  margin-block: 1rem;
  border: 1px solid white;
}

.header-image-container {
  /* position: absolute; */
  /* max-inline-size: 80%; */
  border: 1px solid white;
  margin-inline: auto;
  /* overflow: hidden; */
  /* background: var(--dark-purple);
  border-radius: 50% / 20px; */
  /* padding-block-start: 3rem; */
  /* margin-block-start: 0; */
}

.iPhone-img {
  position: absolute;
  max-inline-size: 100%;
  border: 1px solid white;
  /* background: var(--dark-purple);
  border-radius: 50% / 20px; */
  /* top: 50%; */
  /* left: 50%; */
  transform: translateY(-50%);
  /* margin-block-start: -7rem; */
}

.company-name {
  font-size: 2rem;
}

.underlined-word {
  display: inline-block;
  border-block-end: 5px solid var(--light-green);
  max-height: 4rem;
  padding-bottom: 0;
}

.curved-background {
  position: relative;
  /* height: 100vh; */
  background: var(--dark-purple);
  border-radius: 50% / 20px;
}
